<div class="container"
     fxFlexFill>
  <mat-card fxLayout="column">
    <div fxLayout="row">
      <div [fxFlex.lt-sm]="100"
           [fxFlex.lt-md]="20"
           [fxFlex.lt-xl]="20">
        <img src="assets/images/profil.jpg"
             style="width: 100%;" />
      </div>
      <div [fxFlex.lt-sm]="100"
           [fxFlex.lt-md]="20"
           [fxFlex.lt-xl]="20">
        Presentation
      </div>
    </div>
    <div fxLayout="row"
         fxLayoutGap="20px">
      <div 
           fxLayout="column"
           [fxFlex.lt-sm]="100"
           [fxFlex.lt-md]="20"
           [fxFlex.lt-xl]="20">
        <div>Programmation</div>
        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultrices, risus in egestas vestibulum, nunc
          augue tempor ligula, et ullamcorper lorem purus id tellus. Nam lacinia vitae arcu sed fermentum. Maecenas in
          venenatis mauris. Morbi semper felis in nisi vehicula blandit. Nunc fermentum sapien eros, fringilla malesuada
          ex cursus id. Quisque lectus neque, auctor id ipsum vel, consequat vulputate quam. Suspendisse ligula quam,
          fringilla ac leo et, ullamcorper viverra felis. Donec fringilla tincidunt lorem, eget pulvinar justo egestas
          sollicitudin. Aliquam eu laoreet nunc, ac tempor metus.</div>
      </div>
      <div 
           fxLayout="column"[fxFlex.lt-sm]="100"
           [fxFlex.lt-md]="20"
           [fxFlex.lt-xl]="20">
        <div>Jeux-Videos</div>
        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultrices, risus in egestas vestibulum, nunc
          augue tempor ligula, et ullamcorper lorem purus id tellus. Nam lacinia vitae arcu sed fermentum. Maecenas in
          venenatis mauris. Morbi semper felis in nisi vehicula blandit. Nunc fermentum sapien eros, fringilla malesuada
          ex cursus id. Quisque lectus neque, auctor id ipsum vel, consequat vulputate quam. Suspendisse ligula quam,
          fringilla ac leo et, ullamcorper viverra felis. Donec fringilla tincidunt lorem, eget pulvinar justo egestas
          sollicitudin. Aliquam eu laoreet nunc, ac tempor metus.</div>
      </div>
      <div 
           fxLayout="column"[fxFlex.lt-sm]="100"
           [fxFlex.lt-md]="20"
           [fxFlex.lt-xl]="20">
        <div>Passion</div>
        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultrices, risus in egestas vestibulum, nunc
          augue tempor ligula, et ullamcorper lorem purus id tellus. Nam lacinia vitae arcu sed fermentum. Maecenas in
          venenatis mauris. Morbi semper felis in nisi vehicula blandit. Nunc fermentum sapien eros, fringilla malesuada
          ex cursus id. Quisque lectus neque, auctor id ipsum vel, consequat vulputate quam. Suspendisse ligula quam,
          fringilla ac leo et, ullamcorper viverra felis. Donec fringilla tincidunt lorem, eget pulvinar justo egestas
          sollicitudin. Aliquam eu laoreet nunc, ac tempor metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultrices, risus in egestas vestibulum, nunc
          augue tempor ligula, et ullamcorper lorem purus id tellus. Nam lacinia vitae arcu sed fermentum. Maecenas in
          venenatis mauris. Morbi semper felis in nisi vehicula blandit. Nunc fermentum sapien eros, fringilla malesuada
          ex cursus id. Quisque lectus neque, auctor id ipsum vel, consequat vulputate quam. Suspendisse ligula quam,
          fringilla ac leo et, ullamcorper viverra felis. Donec fringilla tincidunt lorem, eget pulvinar justo egestas
          sollicitudin. Aliquam eu laoreet nunc, ac tempor metus.</div>
      </div>
    </div>
  </mat-card>
</div>